.button {
    padding: 0.5em !important;
    width: fit-content;
    border-radius: 5px;
    border-style: none !important;
    margin: 5px;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    color: $white !important;
    font-size: map-get($font-size, medium);
    text-decoration: none !important;
    cursor: pointer;

    svg {
        font-size: map-get($font-size, x-large);
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        animation: button 500ms ease-in-out;
    }

    &:focus-visible {
        outline: solid 2px $black !important;
    }
}

.red {
    background-color: $color-secondary !important;
}

.blue {
    background-color: $color-primary !important;
}

.round {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    min-height: 35px;
    margin: 10px;
    font-size: 0;
}

