.button {
    padding: 0.5em !important;
    width: fit-content !important;
    border-radius: 5px;
    border-style: none !important;
    margin: 5px !important;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    color: $white !important;
    font-size: map-get($font-size, medium) !important;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.red {
    background-color: $color-secondary !important;
}

.blue {
    background-color: $color-primary !important;
}