.formPost {
    textarea {
        width: 50%;
        border-style: none;
        margin-right: 15px;
        background-color: $grey;
    }

    &--buttons {
        display: flex;
        flex-direction: column;
    }
}
