.formPost {
    padding-top: 3em;

    form {
        width: 40%;
        flex-direction: column;

        @media #{$breakpoint-small} {
            width: 100%;
        }
        @media #{$breakpoint-medium} {
            width: 75%;
        }
    }

    textarea {
        border-style: none;
        background-color: $grey;

        &:focus-visible {
            outline: unset;
        }
    }

    &--buttons {
        display: flex;
        align-items: center;
        background-color: $grey;
        padding: 0.5em 1em;
        justify-content: end;
    }
}
