.header {
    position: relative;
    background-color: $white;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5em;

        @media #{$breakpoint-xxsmall} {
            flex-direction: column;
            padding: 0 0 1em;
        }
    }

    img {
        width: 60%;

        @media #{$breakpoint-xsmall} {
            width: 100%;
        }
    }

    &::before {
        content: "";
        background-color: $color-primary;
        top: -1em;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        margin: 0.5em;
        color: $black;

        @media #{$breakpoint-small} {
            margin: 0.5em;
        }
    }

    .active {
        color: $color-secondary;
        font-family: "MontserratBold";
    }
}

.line {
    hr {
        border: solid 1px $color-primary;
        width: 90%;
        background-color: $color-primary;
        margin: 0 auto;
    }
}

.menu {
    position: relative;
    cursor: pointer;

    hr {
        width: 3em;
        margin: 0.5em auto;
        border: solid 1px $color-primary;
        background-color: $color-primary;

        @media #{$breakpoint-xxsmall} {
            width: 2em;
        }
    }

    &:active {
        animation: menu 500ms ease-in-out;
    }
}

.header-image, .navigation {
    width: 25%;

    @media #{$breakpoint-xxsmall} {
        width: 100%;
    }

    @media #{$breakpoint-xsmall} {
        width: 35%;
    }
}

.link {
    position: absolute;
    top: 75%;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    padding: 2em 1.5em;

    @media #{$breakpoint-xxsmall} {
        position: relative;
        width: 100%;
        margin-top: 1em;
    }

    a {
        &:active {
            animation: link 500ms ease-in-out;
        }
    }
}