.imageUploaded {
    margin: 0;
    margin-right: 1em;
    font-size: map-get($font-size, small);
    text-align: start;

    span {
        color: $color-secondary;
        font-family: 'MontserratBold';
    }
}