.likes {
    display: flex;
    align-items: center;
    padding-top: 15px;
    font-size: map-get($font-size, small);

    button {
        background: none;
        border-style: none;
        font-size: 0;
        cursor: pointer;

        svg {
            font-size: map-get($font-size, x-large);
            margin: 10px;
        }

        &:active {
            animation: button 500ms ease-in-out;
        }
    }

    .liked svg {
        color: $color-primary;
    }

    @media #{$breakpoint-small} {
        justify-content: center;
    }
}