.password {
    text-align: start;
    color: $red;
    font-size: map-get($font-size, small);
    width: 100%;
    padding: 1em 2em;
    background-color: $grey;
    position: absolute;
    left: 110%;
    bottom: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

    &-strong {
        color: $green;
        font-family: 'MontserratBold';
    }
}

.incorrect {
    background-color: lighten($red, 65%);
    animation: shake 350ms;
}