.user-account {
    font-size: map-get($font-size, medium);
    text-align: end;
        
    form {
        text-align: start;
        flex-direction: column;
        margin-left: 5px;

        label {
            color: $color-secondary;
            margin: 0.5em 0;
            font-size: map-get($font-size, large);
        } 
    }

    .fullname {
        display: flex;

        input {
            width: 50%;
        }

        label {
            font-size: 0;
        }
    }
    
    .firstName, .lastName {
        font-family: 'MontserratBold';
        font-size: map-get($font-size, x-large);
        color: $black;
        margin-right: 10px;
    }

    input {
        background-color: $white;

        &:focus-visible {
            border-style: none;
            outline: none;
        }
    }

    .description {
        margin-bottom: 1em;

        &::placeholder {
            color: darken($grey, 7);
        }
    }

    &--button {
        text-align: start;
        padding: 2em 0;
    }
}

.update {
    &-image {
        display: flex;
        align-items: baseline;
        margin-top: 1em;
    }

    &-infos {
        display: flex;
        flex-direction: column;
        text-align: start;

        label {
            color: $color-secondary;
            margin: 0.5em;
            font-size: map-get($font-size, large);
        }

        input {
            margin-left: 5px;
            background-color: $grey;
            padding: 0.3em;
        }
    }

    &-form {
        @media #{$breakpoint-small}, #{$breakpoint-medium} {
            flex-direction: column;
        }
    }
}