.connect {
    width: 50%;
    margin: auto;
    padding: 6% 0;

    img {
        width: 30%;

        @media #{$breakpoint-small} {
            width: 100%;
        }

        @media #{$breakpoint-medium} {
            width: 75%;
        }

        @media #{$breakpoint-large} {
            width: 50%;
        }
    }
    
    form {
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin: auto;
        position: relative;

        @media #{$breakpoint-small} {
            width: 100%;
        }
        @media #{$breakpoint-medium} {
            width: 75%;
        }
        @media #{$breakpoint-large} {
            width: 50%;
        }        
    }

    a {
        color: $white;
    }
}

.connect-page {
    position: relative;
    background-color: rgba(38, 58, 91, 0.6) !important;
    margin: 0 !important;

    &::before {
        content: "";
        background-image: url('../../assets/img/building.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
    }
}

#loginSubmit, #signupSubmit {
    background-color: $color-primary;
    border-style: unset;
    border-radius: 5px;
    width: auto;
    padding: 0.5em;
    height: auto;
    border-width: 0;
    color: white;
    font-size: map-get($font-size, large);
}

.validEmail, .invalid-signup {
    width: 100%;
    margin: 0.5em;

    input {
        margin: auto !important;
    }
}

.invalid, .invalid-signup {
    input {
        border: solid 3px $red;

        &:focus-visible {
            outline: unset;
        }
    }

    &-message {
        margin-top: 0;
        color: $red;
        font-family: 'MontserratBold';
    }
}