.post-content {
    &--image {
        .add-image {
            display: flex;
            align-items: baseline;
            margin-top: 0.5em;
            padding: 1em;
            background-color: $grey;

            button {
                background: none;
                border-style: none;
                text-decoration: underline;
                font-size: map-get($font-size, small);
                cursor: pointer;
                padding: 0;
                margin-right: 1em;
                color: $color-secondary;

            &:active {
                animation: button 500ms ease-in-out;
            }
            }
        }

        .delete-image {
            background: none;
            border-style: none;
            text-decoration: underline;
            font-size: map-get($font-size, small);
            cursor: pointer;
            padding: 0;
            margin-right: 1em;
            color: $color-secondary;

            &:active {
                animation: button 500ms ease-in-out;
            }
        }
    }

    &--description {
        p {
            text-align: start;

            @media #{$breakpoint-small}, #{$breakpoint-medium} {
                text-align: center;
            }
        }

        textarea {
            &:focus-visible {
                border: solid 1px darken($grey, 30%);
            }
        }
    }
    
    &--button {
        text-align: start;

        @media #{$breakpoint-small}, #{$breakpoint-medium} {
            text-align: center;
        }
    }      
}