.post-content {
    &--image {
        .add-image {
            flex-direction: row;
            align-items: baseline;
        }
    }

    &--description {
        p {
            text-align: start;
        }
    }
    
    &--button {
        text-align: start;
    }      
}