* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    margin: 0;
}

html, body, #root, .App, .App > div, .connect-page, .connect, .home, .account, .admin, .container {
    height: 100%;
}

.App > div {
    background-color: $white;
    margin-top: 1em;
}

img {
    width: 100%;
}

form {
    display: flex;
}

textarea {
    padding: 1em 2em;
    font-family: 'Montserrat';
    resize: none;
    width: 100%;
    border-style: unset;
    background-color: $grey;

    &:focus-visible {
        outline: unset;
    }
}