.posts-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 0;

    @media #{$breakpoint-small}, #{$breakpoint-medium} {
        flex-direction: column;
        align-items: center;
        background-color: $grey;
        padding: 3em 0;
    }
}

.nopost {
    width: 90%;
    margin: 3em auto;
    text-align: left;
}